{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre o Autor</title>
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
</head>
<body>
    <main class="container">
        <section class="intro">
            <h1>texto de introdução</h1>
        </section>

        <section class="content">
            <p>Texto de introdução a um assunto</p>
        </section>

        <section class="prompt">
            <p>onde ficará um prompt de IA</p>
        </section>
    </main>
</body>
</html>
